<div class="page-width">
  {% if section.settings.title != blank %}
    {% comment %}<div class="section-header text-center">{% endcomment %}
      {% comment %}<h4 class="h2">{{ section.settings.title | escape }}</h4>{% endcomment %}
    {% comment %}</div>{% endcomment %}
  {% endif %}
    {% if section.settings.title == "read_more" %}
    <div class="rte-setting rte">
    {% endif %}
  <div class="custom-content">
    {%- assign block_width_mobile = '' -%}

    {% for block in section.blocks %}
      {% case block.settings.width %}
        {% when '25%' %}
          {%- assign max_height = 250 -%}
          {%- assign block_width = 'medium-up--one-quarter' -%}
          {%- assign block_width_mobile = 'small--one-half' -%}
        {% when '33%' %}
          {%- assign max_height = 345 -%}
          {%- assign block_width = 'medium-up--one-third' -%}
          {%- assign block_width_mobile = 'small--one-half' -%}
        {% when '50%' %}
          {%- assign max_height = 530 -%}
          {%- assign block_width = 'medium-up--one-half' -%}
          {%- assign block_width_mobile = 'small--one-half' -%}
        {% when '66%' %}
          {%- assign max_height = 720 -%}
          {%- assign block_width = 'two-thirds' -%}
        {% when '75%' %}
          {%- assign max_height = 810 -%}
          {%- assign block_width = 'three-quarters' -%}
        {% when '100%' %}
          {%- assign max_height = 1090 -%}
          {%- assign block_width = 'one-whole' -%}
      {% endcase %}

      {%- if block.type == 'blog' or block.type == 'article' -%}
        {%- assign block_width_mobile = 'small--one-whole' -%}
      {%- endif -%}

      {% if block.type == 'image' %}
        {% capture img_id %}CustomImage--{{ forloop.index }}-{{ block.settings.image.id }}{% endcapture %}
        {% capture img_wrapper_id %}CustomImageWrapper--{{ forloop.index }}-{{ block.settings.image.id }}{% endcapture %}

        {% unless block.settings.image == blank %}
          {% render 'image-style', image: block.settings.image, height: max_height, wrapper_id: img_wrapper_id, img_id: img_id %}
        {% endunless %}
      {% endif %}

      <div class="custom__item custom__item--{{ block.type }} custom__item--{{ block.id }} {{ block_width_mobile }} {{ block_width }}{% if block.settings.alignment %} align--{{ block.settings.alignment }}{% endif %}" {{ block.shopify_attributes }}>
        <div class="custom__item-inner custom__item-inner--{{ block.type }}"{% if block.type == 'image' %} id="{{ img_wrapper_id }}"{% endif %}>
          {% case block.type %}
            {% when 'image' %}
              {% if block.settings.image != blank %}
                <div style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;" data-image-loading-animation>
                  <img id="{{ img_id }}"
                       class="custom__image"
                       src="{{ block.settings.image | image_url: width: 1080 }}"
                       srcset="{{ block.settings.image | image_url: width: 180 }} 180w, {{ block.settings.image | image_url: width: 360 }} 360w, {{ block.settings.image | image_url: width: 540 }} 540w, {{ block.settings.image | image_url: width: 720 }} 720w, {{ block.settings.image | image_url: width: 900 }} 900w, {{ block.settings.image | image_url: width: 1080 }} 1080w, {{ block.settings.image | image_url: width: 1296 }} 1296w, {{ block.settings.image | image_url: width: 1512 }} 1512w, {{ block.settings.image | image_url: width: 1728 }} 1728w, {{ block.settings.image | image_url: width: 2048 }} 2048w"
                       sizes="auto"
                       loading="lazy"
                       width="{{ block.settings.image.width }}"
                       height="{{ block.settings.image.height }}"
                       alt="{{ block.settings.image.alt | escape }}">
                </div>
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            {% when 'text' %}
              <div class="medium-up--text-{{ block.settings.align_text }}">
                {% if block.settings.title != blank %}
                  <h4 class="h3">{{ block.settings.title | escape }}</h4>
                {% endif %}
                {% if block.settings.text != blank %}
                  {{ block.settings.text }}
                {% endif %}
              </div>
            {% when 'video' %}
              <div class="video-wrapper">
                {% if block.settings.video_url == blank %}
                  <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                {% else %}
                  {% if block.settings.video_url.type == "youtube" %}
                    <iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                  {% if block.settings.video_url.type == "vimeo" %}
                    <iframe src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                {% endif %}
              </div>
            {% when 'product' %}
              {%- assign product = all_products[block.settings.product] -%}
              {% if product.title.size > 0 %}
                {% render 'product-card-grid', max_height: max_height, product: product %}
              {% else %}
                {% comment %}
                  No product yet. Show onboarding one.
                {% endcomment %}
                <div class="grid-view-item">
                  <a class="grid-view-item__link" href="#">
                    <div class="grid-view-item__image">
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                    <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    <div class="grid-view-item__meta">
                      {{ 1999 | money }}
                    </div>
                  </a>
                </div>
              {% endif %}
            {% when 'collection' %}
              {%- assign collection = collections[block.settings.collection] -%}
              {% render 'collection-grid-item', collection: collection %}
            {% when 'html' %}
              {% if block.settings.code != blank %}
                {{ block.settings.code }}
              {% endif %}
            {%- when 'link_list' -%}
              {%- assign custom_linklist = block.settings.menu -%}
              <ul class="list--inline custom__linklist">
                {%- for link in linklists[custom_linklist].links -%}
                  <li class="custom__linklist-item">
                    <a href="{{ link.url }}" class="custom__linklist-link">
                      {{ link.title | escape }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>

            {%- when 'blog' -%}
              {%- assign blog = blogs[block.settings.blog] -%}
                <div class="blog-card">
                  {%- if block.settings.cover_image -%}
                    {%- assign img = block.settings.cover_image -%}
                    {%- capture img_id -%}ArticleImage-{{ img.id }}{%- endcapture -%}
                    {%- capture img_wrapper_id -%}ArticleImageWrapper-{{ img.id }}{%- endcapture -%}
                    {% render 'image-style', image: img, height: 600, wrapper_id: img_wrapper_id, img_id: img_id %}

                    <div class="blog-card__image-wrapper blog-card__image-wrapper--{{ block.settings.image_size }}">
                      <a href="{{ blog.url | default: '#' }}" class="blog-card__link">
                        <img
                          src="{{ img | image_url: width: 1200 }}"
                          srcset="{{ img | image_url: width: 400 }} 400w, {{ img | image_url: width: 800 }} 800w, {{ img | image_url: width: 1200 }} 1200w, {{ img | image_url: width: 1600 }} 1600w"
                          sizes="(min-width: 1200px) 1200px, 100vw"
                          loading="lazy"
                          width="{{ img.width }}"
                          height="{{ img.height }}"
                          alt="{{ img.alt | escape }}"
                          class="blog-card__overlay box ratio-container"
                          style="width:100%;height:100%;object-fit:cover;position:absolute;top:0;left:0;"
                          data-image-loading-animation>

                        <div class="blog-card__title-wrapper">
                          <div class="blog-card__title h3">{{ blog.title }}</div>
                        </div>
                      </a>
                    </div>
                  {%- else -%}
                    <div class="blog-card__image-wrapper blog-card__image-wrapper--{{ block.settings.image_size }}">
                      <a href="{{ blog.url | default: '#' }}" class="blog-card__link">
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      </a>
                    </div>
                  {%- endif -%}

                  {%- if block.settings.description != blank -%}
                    <div class="blog-card__excerpt rte">{{ block.settings.description }}</div>
                  {%- endif -%}

                  {%- if block.settings.show_number_articles -%}
                    {%- assign number_of_articles = blog.articles_count | default: 0 -%}
                    <a href="{{ blog.url | default: '#' }}" class="blog-card__comment-count btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.article_with_count' | t: count: number_of_articles }}: {{ blog.title }}">{{ 'blogs.article.article_with_count' | t: count: number_of_articles }}</a>
                  {%- endif -%}
                </div>
            {%- when 'article' -%}
              {%- assign article = articles[block.settings.article] -%}
              {%- assign cover_image = block.settings.cover_image -%}

              {%- if article != empty -%}
                <div id="Article-{{ article.image.id }}" class="article">
                  <a href="{{ article.url }}" class="article__link article__link--fixed-overlay">
                    {%- if article.image and cover_image != 'none' -%}
                      {%- capture img_id -%}ArticleImage-{{ article.image.id }}{%- endcapture -%}
                      {%- capture img_wrapper_id -%}ArticleImageWrapper-{{ article.image.id }}{%- endcapture -%}
                      {% render 'image-style', image: article.image, height: 600, wrapper_id: img_wrapper_id, img_id: img_id %}

                      {%- style -%}
                        #Article-{{ article.image.id }} .article__link:not([disabled]):hover .article__grid-image-wrapper::before,
                        #Article-{{ article.image.id }} .article__link:focus .article__grid-image-wrapper::before {
                          padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;
                        }
                      {%- endstyle -%}

                      <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper article__grid-image-wrapper--{{ cover_image }} article-image-wrapper js">
                        <div class="article__grid-image-container" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;" data-image-loading-animation>
                          <img id="{{ img_id }}"
                              class="article__list-image"
                              src="{{ article.image | image_url: width: 1090 }}"
                              srcset="{{ article.image | image_url: width: 180 }} 180w, {{ article.image | image_url: width: 360 }} 360w, {{ article.image | image_url: width: 540 }} 540w, {{ article.image | image_url: width: 720 }} 720w, {{ article.image | image_url: width: 905 }} 905w, {{ article.image | image_url: width: 1090 }} 1090w, {{ article.image | image_url: width: 1296 }} 1296w, {{ article.image | image_url: width: 1512 }} 1512w, {{ article.image | image_url: width: 1728 }} 1728w, {{ article.image | image_url: width: 2048 }} 2048w"
                              sizes="auto"
                              loading="lazy"
                              width="{{ article.image.width }}"
                              height="{{ article.image.height }}"
                              alt="">
                        </div>
                      </div>
                    {%- endif -%}

                    <h2 class="article__title h3">{{ article.title }}</h2>
                  </a>

                  {%- if block.settings.show_author or block.settings.show_date -%}
                    <div class="article__meta">
                      {%- if block.settings.show_author -%}
                        <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                      {%- endif -%}

                      {%- if block.settings.show_date -%}
                        <span class="article__date">
                          {{ article.published_at | time_tag: format: 'date' }}
                        </span>
                      {%- endif -%}
                    </div>
                  {%- endif -%}

                  <div class="rte rte--article">
                    {%- if article.excerpt.size > 0 -%}
                      {{ article.excerpt }}
                    {%- else -%}
                      {{ article.content | strip_html | truncate: 150 }}
                    {%- endif -%}
                  </div>

                  {%- if article.tags.size > 0 -%}
                    <div class="article__tags rte">
                      <ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
                        {%- for tag in article.tags -%}
                          <li>
                            <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}

                  <ul class="list--inline article__meta-buttons">
                    <li>
                      <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                        {{ 'blogs.article.read_more' | t }}
                      </a>
                    </li>

                    {%- if article.comments != blank and article.comments_count > 0 -%}
                      <li>
                        <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
                          {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              {%- else -%}
                <div class="article">
                  <a href="#" class="article__link article__link--fixed-overlay">
                    {%- if article.image and cover_image != 'none' -%}
                      <div class="article__grid-image-wrapper article__grid-image-wrapper--{{ cover_image }} article-image-wrapper">
                        <div class="article__grid-image-container">
                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                      </div>
                    {%- endif -%}

                    <h2 class="article__title h3">{{ 'homepage.onboarding.blog_title' | t }}</h2>
                  </a>

                  {%- if block.settings.show_author or block.settings.show_date -%}
                    <div class="article__meta">
                      {%- if block.settings.show_author -%}
                        {%- assign author_name = 'homepage.onboarding.blog_author' | t -%}
                        <span class="article__author">{{ 'blogs.article.by_author' | t: author: author_name }}</span>
                      {%- endif -%}

                      {%- if block.settings.show_date -%}
                        <span class="article__date">
                          {{ "now" | time_tag: format: 'date' }}
                        </span>
                      {%- endif -%}
                    </div>
                  {%- endif -%}

                  <div class="rte rte--article">{{ 'homepage.onboarding.blog_excerpt' | t }}</div>

                  <ul class="list--inline article__meta-buttons">
                    <li>
                      <a href="#" class="btn btn--tertiary btn--small">
                        {{ 'blogs.article.read_more' | t }}
                      </a>
                    </li>

                    <li>
                      <a href="#" class="article__comment-count btn btn--tertiary btn--small">
                        {{ 'blogs.comments.comments_with_count' | t: count: 1 }}
                      </a>
                    </li>
                  </ul>
                </div>
              {%- endif -%}
          {% endcase %}
        </div>
        </div>

    {% endfor %}
  </div>
    {% if section.settings.title == "read_more" %}
    </div>
            {% endif %}


  {% if section.blocks.size == 0 %}
    {% render 'no-blocks' %}
  {% endif %}
</div>

<script type="application/javascript">
  var loadScript = function(url, callback){

    /* JavaScript that will load the jQuery library on Google's CDN.
       We recommend this code: http://snipplr.com/view/18756/loadscript/.
       Once the jQuery library is loaded, the function passed as argument,
       callback, will be executed. */

  };

  var myAppJavaScript = function($){
    /* Your app's JavaScript here.
       $ in this scope references the jQuery object we'll use.
       Don't use 'jQuery', or 'jQuery191', here. Use the dollar sign
       that was passed as argument.*/
    $('.rte-setting').readmore({speed: 500, collapsedHeight: 200});
  };

  if ((typeof jQuery === 'undefined') || (parseFloat(jQuery.fn.jquery) < 1.7)) {
    loadScript('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', function(){
      jQuery191 = jQuery.noConflict(true);
      myAppJavaScript(jQuery191);
    });
  } else {
    myAppJavaScript(jQuery);
  }
</script>

{% schema %}
{
  "name": "Custom content",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Custom content"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Talk about your brand"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "50%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Vertical alignment",
          "default": "center",
          "options": [
            {
              "value": "top-middle",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "bottom-middle",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "select",
          "id": "align_text",
          "label": "Horizontal alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Centered"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "50%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Vertical alignment",
          "default": "center",
          "options": [
            {
              "value": "top-left",
              "label": "Top left"
            },
            {
              "value": "top-middle",
              "label": "Top middle"
            },
            {
              "value": "top-right",
              "label": "Top right"
            },
            {
              "value": "middle-left",
              "label": "Middle left"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "middle-right",
              "label": "Middle right"
            },
            {
              "value": "bottom-left",
              "label": "Bottom left"
            },
            {
              "value": "bottom-middle",
              "label": "Bottom middle"
            },
            {
              "value": "bottom-right",
              "label": "Bottom right"
            }
          ]
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "label": "YouTube or Vimeo link",
          "accept": [
            "youtube",
            "vimeo"
          ]
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "100%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Vertical alignment",
          "default": "top-middle",
          "options": [
            {
              "value": "top-middle",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "bottom-middle",
              "label": "Bottom"
            }
          ]
        }
      ]
    },
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "50%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Vertical alignment",
          "default": "center",
          "options": [
            {
              "value": "top-left",
              "label": "Top left"
            },
            {
              "value": "top-middle",
              "label": "Top middle"
            },
            {
              "value": "top-right",
              "label": "Top right"
            },
            {
              "value": "middle-left",
              "label": "Middle left"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "middle-right",
              "label": "Middle right"
            },
            {
              "value": "bottom-left",
              "label": "Bottom left"
            },
            {
              "value": "bottom-middle",
              "label": "Bottom middle"
            },
            {
              "value": "bottom-right",
              "label": "Bottom right"
            }
          ]
        }
      ]
    },
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "50%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Vertical alignment",
          "default": "center",
          "options": [
            {
              "value": "top-left",
              "label": "Top left"
            },
            {
              "value": "top-middle",
              "label": "Top middle"
            },
            {
              "value": "top-right",
              "label": "Top right"
            },
            {
              "value": "middle-left",
              "label": "Middle left"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "middle-right",
              "label": "Middle right"
            },
            {
              "value": "bottom-left",
              "label": "Bottom left"
            },
            {
              "value": "bottom-middle",
              "label": "Bottom middle"
            },
            {
              "value": "bottom-right",
              "label": "Bottom right"
            }
          ]
        }
      ]
    },
    {
      "type": "blog",
      "name": "Blog",
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "Blog"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "Cover image"
        },
        {
          "type": "select",
          "id": "image_size",
          "label": "Image size",
          "default": "medium",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        },
        {
          "id": "description",
          "type": "richtext",
          "default": "<p>Description of your blog.</p>",
          "label": "Description"
        },
        {
          "id": "show_number_articles",
          "type": "checkbox",
          "default": true,
          "label": "Show number of articles"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Vertical alignment",
          "default": "center",
          "options": [
            {
              "value": "top-middle",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "bottom-middle",
              "label": "Bottom"
            }
          ]
        }
      ]
    },
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "50%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Vertical alignment",
          "default": "center",
          "options": [
            {
              "value": "top-middle",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "bottom-middle",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "select",
          "id": "cover_image",
          "label": "Cover image",
          "default": "large",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_author",
          "label": "Show author",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_date",
          "label": "Show date",
          "default": true
        }
      ]
    },
    {
      "type": "html",
      "name": "Custom HTML",
      "settings": [
        {
          "type": "html",
          "id": "code",
          "label": "HTML"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "50%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom content",
      "category": "Advanced layout",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}