<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      {% if page.content.size > 0 %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}

      <div class="contact-form form-vertical">
        {%- assign form_id = 'ContactForm' -%}
        {% form 'contact', id: form_id %}
          {% render 'form-status', form: form, form_id: form_id %}
        <div class="showback">
          <a href="{{shop.url}}">Back To Home </a>
        </div>
		<div class="formhide">
          <div class="grid grid--half-gutters">
            <div class="grid__item medium-up--one-half">
              <label for="{{ form_id }}-name">{{ 'contact.form.name' | t }}</label>
              <input type="text" id="{{ form_id }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form['name'] %}{{ form['name'] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <div class="grid__item medium-up--one-half">
              <label for="{{ form_id }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
              <input
                type="email"
                id="{{ form_id }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ form_id }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ form_id}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% render 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
            </div>
          </div>
        <div class="grid grid--half-gutters">
		<div class="grid__item medium-up--one-half">
          <label for="phone">Phone Number ( Optional )</label>
          <input
            type="text"
            id="phone"
            name="contact[phone]"
          />
        </div>
         <div class="grid__item medium-up--one-half">
                  <label for="ContactFormCountry-">Type ( Optional )</label>
                  <select id="ContactFormCountry-" name="contact[Type]">
                     <option value="Retail">Retail</option>
                     <option value="Wholesale">Wholesale</option>
             </select>
 		 </div>
        </div>
          <label for="{{ form_id }}-message">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="{{ form_id }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
<!-- 		<div id="re-captcha"></div> -->
          <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">
      </div>

        {% endform %}
      </div>
    </div>
  </div>
</div>

<style>

main#MainContent form label {
    color: #fff;
}
main#MainContent {
    background: #2b4159;
}
.section-header.text-center h1 {
    color: #fff;
}
  .showback{
   	display:none; 
  }
  .showback {
    text-align: center;
    margin: 20px;
}
  .showback a {
    background: #35b18c;
    padding: 10px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
}
</style>
<script>
//   var actCallback = function (response) {
//     $('#ContactForm').prop("disabled", false);
//     $('#re-captcha').remove();
//   };
//   var expCallback = function() {
//     $('#contactFormSubmit').prop("disabled", true);
//   };

//   var onloadCallback = function () {
//     var widget = grecaptcha.render(document.getElementById("re-captcha"), {
//       'sitekey' : "123456789", // Sitekey, Retrieving from reCaptcha
//       'theme': "light",
//       'callback' : actCallback,
//       'expired-callback': expCallback,
//     });
//   }
  
  if($( ".form-message" ).hasClass( "form-message--success" )){
$(".showback").show();
$(".formhide").hide();
}
</script>